// Place all the styles related to the Characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$content_bg:   #a37e97;
$content_fg: #592e4f;

$character_font_color: #5fe9ff;
$money_value_font_color: #599b54;

$inv_bg: #ba98b0;

.tool_nav {
  background-color: $inv_bg;
  color: $content_fg;
  padding-left: 7px;
  border-radius: 5px;


  .btn {
    width: 75px;
  }

  .btn.tool_caret {
    width: auto;
  }

  .modal {
    .btn {
      width: auto;
    }
  }
}

.inv_display {
  background-color: $inv_bg;
  color: $content_fg;
  box-shadow: inset 1px 1px 3px rgb(45, 19, 38);
  border-radius: 5px;
  padding: 5px;

  .accordion-inner {
    background-color: #d4d4d4;
  }

  .accordion-group {
    background-color: #000000;
  }

  .accordion-heading {
    a {width: 742px; }
    background-color: #000000;
    border-radius: 3px;
  }

}

.notes_display {
  box-sizing: border-box;
  text-align: center;
  textarea {
    width: 742px;
    font-family: "Courier New";
  }
}

.character_name {
  color: $character_font_color;
  font-size: xx-large;
  line-height: 35px;
}

.character_money {
  text-align: right;
  color: $character_font_color;
  font-size: xx-large;
  line-height: 35px;
  .value {
    color: #4c8647;
  }
}
