<!DOCTYPE html>
<html>
<head>
  <title>Eclipse Phase Player Assistant</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class='navbar-inner nav-collapse' style="height: auto;">
    <div class="container">
      <ul class="nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Page One</a></li>
        <li><a href="#">Page Two</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="jumbotron"></div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
          <%= yield %>
        </div>
    </div>
</div>

</body>
</html>
